[submodule "experiments/redis/ansible/roles/baseliner"]
	path = experiments/regression/ansible/roles/baseliner
	url = https://github.com/ivotron/baseliner
[submodule "experiments/regression/docker/bench"]
	path = experiments/regression/docker/bench
	url = https://github.com/ivotron/docker-bench
[submodule "experiments/spark/ansible/roles/baseliner"]
	path = experiments/spark/ansible/roles/baseliner
	url = https://github.com/ivotron/baseliner
